flows v2.json
[{"id":"5bd3e620.6f3d78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1125bed3.6b5861","type":"inject","z":"5bd3e620.6f3d78","name":"Incominng data","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"res","v":"{\"timestamp\":\"2021-06-27T18:30:00.189Z\",\"meterId\":\"M6\"}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"Incominng data","payload":"{\"timestamp\":\"2021-06-27T18:30:00.189Z\",\"meterId\":\"M6\",\"VOLTAGE\":{\"RN\":244.168701171875,\"YN\":245.75509643554688,\"BN\":0,\"LLAVG\":303.6513366699219,\"LNAVG\":163.3079376220703},\"CURRENT\":{\"R\":0,\"Y\":0,\"B\":0,\"AVG\":0},\"POWER\":{\"R\":0,\"Y\":0,\"B\":0,\"T\":0},\"ENERGY\":{\"T\":3.90293875},\"PF\":{\"R\":0,\"Y\":0,\"B\":0,\"T\":0},\"FREQUENCY\":{\"T\":50.01860427856445}}","payloadType":"json","x":140,"y":380,"wires":[["8722b8b8.2fc7d8","82dcce16.93429"]]},{"id":"3bedd885.54ca68","type":"mqtt in","z":"5bd3e620.6f3d78","name":"","topic":"SIMULATED/METERDATA","qos":"2","datatype":"json","broker":"1a32ff10.a19ef1","nl":false,"rap":true,"rh":0,"x":190,"y":200,"wires":[["7d3da44a.95883c"]]},{"id":"8722b8b8.2fc7d8","type":"mqtt out","z":"5bd3e620.6f3d78","name":"","topic":"SIMULATED/METERDATA","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a32ff10.a19ef1","x":180,"y":280,"wires":[]},{"id":"82dcce16.93429","type":"function","z":"5bd3e620.6f3d78","name":"Threshold Compare","func":"var ts = msg.payload.timestamp;\nvar id = msg.payload.meterId;\ndelete msg.payload.timestamp;\ndelete msg.payload.meterId;\nvar ip = msg.payload;\n\n\nvar th={\n        \"VOLTAGE\": {\n            \"RN\": {\n                \"HA\": 255,\n                \"LA\": 211,\n                \"HW\": 240,\n                \"LW\": 201\n            },\n            \"YN\": {\n                \"HA\": 255,\n                \"LA\": 208,\n                \"HW\": 245,\n                \"LW\": 210\n            },\n            \"BN\": {\n                \"HA\": 255,\n                \"LA\": 208,\n                \"HW\": 245,\n                \"LW\": 210\n            },\n            \"LLAVG\": {\n                \"HA\": 256,\n                \"LA\": 200,\n                \"HW\": 246,\n                \"LW\": 209\n            },\n            \"LNAVG\": {\n                \"HA\": 255,\n                \"LA\": 200,\n                \"HW\": 250,\n                \"LW\": 210\n            },\n\n        },\n        \"CURRENT\": {\n            \"R\": {\n                \"HA\": 20,\n                \"LA\": 1,\n                \"HW\": 13,\n                \"LW\": 5\n            },\n            \"Y\": {\n                \"HA\": 35,\n                \"LA\": 2,\n                \"HW\": 25,\n                \"LW\": 5\n            },\n            \"B\": {\n                \"HA\": 35,\n                \"LA\": 7,\n                \"HW\": 25,\n                \"LW\": 7.5\n            },\n            \"AVG\": {\n                \"HA\": 99999,\n                \"LA\": -2,\n                \"HW\": 99999,\n                \"LW\": -1\n            },\n          \n        },\n        \"POWER\": {\n            \"R\": {\n                \"HA\": 55,\n                \"LA\": 0,\n                \"HW\": 50,\n                \"LW\": 4\n            },\n            \"Y\": {\n                \"HA\": 59,\n                \"LA\": 1,\n                \"HW\": 49,\n                \"LW\": 3\n            },\n            \"B\": {\n                \"HA\": 54,\n                \"LA\": 4,\n                \"HW\": 48,\n                \"LW\": 3\n            },\n            \"T\": {\n                \"HA\": 55,\n                \"LA\": 4,\n                \"HW\": 49,\n                \"LW\": 4\n            },\n\n        },\n        \"ENERGY\": {\n            \"T\": {\n                \"HA\": 52,\n                \"LA\": 14,\n                \"HW\": 60,\n                \"LW\": 18\n            },\n        \n        },\n        \"PF\": {\n            \"R\": {\n                \"HA\": 1,\n                \"LA\": 0.1,\n                \"HW\": 0.9,\n                \"LW\": 0.98\n            },\n            \"Y\": {\n                \"HA\": 1.2,\n                \"LA\": 0.15,\n                \"HW\": 0.8,\n                \"LW\": 0.97\n            },\n            \"B\": {\n                \"HA\": 1.5,\n                \"LA\": 0.1,\n                \"HW\": 0.9,\n                \"LW\": 0.1\n            },\n            \"T\": {\n                \"HA\": 1.7,\n                \"LA\": 0.15,\n                \"HW\": 0.9,\n                \"LW\": 0.1\n            }\n        },\n        \"FREQUENCY\": {\n            \"T\": {\n                \"HA\": 55,\n                \"LA\": 15,\n                \"HW\": 41,\n                \"LW\": 19\n            }\n        }\n    }\n\nfor(var key in ip){\n    for(var key1 in ip[key]){\n        for(var key2 in th[key][key1]){\n          \n            if(key2 == \"HA\"){\n                if(ip[key][key1] >= th[key][key1][key2]){\n                  msg.payload[key2+\" \"+key+\" \"+key1] =  {timestamp : ts, meterId : id, parameter :key, phase :key1, recordedValue :ip[key][key1], alertType : \"High Alert\"};\n            \n                }\n            }    \n            else if(key2 == \"LA\"){\n                if(ip[key][key1] <= th[key][key1][key2]){\n                  msg.payload[key2+\" \"+key+\" \"+key1] =  {timestamp : ts, meterId : id, parameter :key, phase :key1, recordedValue :ip[key][key1], alertType : \"Low Alert\"};\n                }\n            }    \n            else if(key2 == \"HW\"){\n                if(ip[key][key1] >= th[key][key1][key2] && ip[key][key1] < th[key][key1][\"HA\"]){\n                  msg.payload[key2+\" \"+key+\" \"+key1] =  {timestamp : ts, meterId : id, parameter :key, phase :key1, recordedValue :ip[key][key1], alertType : \"High Warning\"};\n                }\n            } \n            else if(key2 == \"LW\"){\n                if(ip[key][key1]<= th[key][key1][key2] && ip[key][key1] > th[key][key1][\"LA\"]){\n                  msg.payload[key2+\" \"+key+\" \"+key1] =  {timestamp : ts, meterId : id, parameter :key, phase :key1, recordedValue :ip[key][key1], alertType : \"Low Warning\"};\n                }\n            }    \n                else\n                 continue; \n            \n        }\n    }\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar threshold={\n    \"M1\": {\n        \"_id\": \"6038ec6bba5be61e3c4aacdb\",\n        \"VOLTAGE\": {\n            \"RN\": {\n                \"HA\": 255,\n                \"LA\": 211,\n                \"HW\": 240,\n                \"LW\": 201\n            },\n            \"YN\": {\n                \"HA\": 255,\n                \"LA\": 208,\n                \"HW\": 245,\n                \"LW\": 210\n            },\n            \"BN\": {\n                \"HA\": 255,\n                \"LA\": 208,\n                \"HW\": 245,\n                \"LW\": 210\n            },\n            \"LLAVG\": {\n                \"HA\": 256,\n                \"LA\": 200,\n                \"HW\": 246,\n                \"LW\": 209\n            },\n            \"LNAVG\": {\n                \"HA\": 255,\n                \"LA\": 200,\n                \"HW\": 250,\n                \"LW\": 210\n            },\n            \"UNIT\": \"kW\"\n        },\n        \"CURRENT\": {\n            \"R\": {\n                \"HA\": 20,\n                \"LA\": 1,\n                \"HW\": 13,\n                \"LW\": 5\n            },\n            \"Y\": {\n                \"HA\": 35,\n                \"LA\": 2,\n                \"HW\": 25,\n                \"LW\": 5\n            },\n            \"B\": {\n                \"HA\": 35,\n                \"LA\": 7,\n                \"HW\": 25,\n                \"LW\": 7.5\n            },\n            \"AVG\": {\n                \"HA\": 99999,\n                \"LA\": -2,\n                \"HW\": 99999,\n                \"LW\": -1\n            },\n            \"UNIT\": \"A\"\n        },\n        \"POWER\": {\n            \"R\": {\n                \"HA\": 55,\n                \"LA\": 0,\n                \"HW\": 50,\n                \"LW\": 4\n            },\n            \"Y\": {\n                \"HA\": 59,\n                \"LA\": 1,\n                \"HW\": 49,\n                \"LW\": 3\n            },\n            \"B\": {\n                \"HA\": 54,\n                \"LA\": 4,\n                \"HW\": 48,\n                \"LW\": 3\n            },\n            \"T\": {\n                \"HA\": 55,\n                \"LA\": 4,\n                \"HW\": 49,\n                \"LW\": 4\n            },\n            \"UNIT\": \"kW\"\n        },\n        \"ENERGY\": {\n            \"T\": {\n                \"HA\": 52,\n                \"LA\": 14,\n                \"HW\": 60,\n                \"LW\": 18\n            },\n            \"UNIT\": \"kWh\"\n        },\n        \"PF\": {\n            \"R\": {\n                \"HA\": 1,\n                \"LA\": 0.1,\n                \"HW\": 0.9,\n                \"LW\": 0.98\n            },\n            \"Y\": {\n                \"HA\": 1.2,\n                \"LA\": 0.15,\n                \"HW\": 0.8,\n                \"LW\": 0.97\n            },\n            \"B\": {\n                \"HA\": 1.5,\n                \"LA\": 0.1,\n                \"HW\": 0.9,\n                \"LW\": 0.1\n            },\n            \"T\": {\n                \"HA\": 1.7,\n                \"LA\": 0.15,\n                \"HW\": 0.9,\n                \"LW\": 0.1\n            },\n            \"UNIT\": \" \"\n        },\n        \"FREQUENCY\": {\n            \"T\": {\n                \"HA\": 55,\n                \"LA\": 15,\n                \"HW\": 41,\n                \"LW\": 19\n            },\n            \"UNIT\": \"Hz\"\n        },\n        \"meterId\": \"M1\",\n        \"meterName\": \"M1\",\n        \"__v\": 0\n    }\n}\n\nglobal.set(\"th\", threshold)","finalize":"","libs":[],"x":420,"y":380,"wires":[["47d638bb.729448"]]},{"id":"46fb33d2.55a00c","type":"mqtt out","z":"5bd3e620.6f3d78","name":"","topic":"SIMULATED/ALERT","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a32ff10.a19ef1","x":660,"y":180,"wires":[]},{"id":"13ee7f07.787e71","type":"mqtt in","z":"5bd3e620.6f3d78","name":"","topic":"SIMULATED/ALERT","qos":"2","datatype":"auto","broker":"1a32ff10.a19ef1","nl":false,"rap":true,"rh":0,"x":650,"y":100,"wires":[["9623ebaf.45db98"]]},{"id":"47d638bb.729448","type":"change","z":"5bd3e620.6f3d78","name":"Remove","rules":[{"t":"delete","p":"payload.VOLTAGE","pt":"msg"},{"t":"delete","p":"payload.CURRENT","pt":"msg"},{"t":"delete","p":"payload.POWER","pt":"msg"},{"t":"delete","p":"payload.ENERGY","pt":"msg"},{"t":"delete","p":"payload.PF","pt":"msg"},{"t":"delete","p":"payload.FREQUENCY","pt":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":380,"wires":[["dfc8ea5d.e2fda8"]]},{"id":"dfc8ea5d.e2fda8","type":"function","z":"5bd3e620.6f3d78","name":"Anomaly Json","func":"var ls = msg.payload;\nfor(var key in ls ){\n    for(var key1 in ls[key]){\n        msg.payload = Object.values(ls);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":280,"wires":[["46fb33d2.55a00c","7b7ef702.10b818"]]},{"id":"9623ebaf.45db98","type":"debug","z":"5bd3e620.6f3d78","name":"Alert data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":100,"wires":[]},{"id":"7d3da44a.95883c","type":"debug","z":"5bd3e620.6f3d78","name":"Meter Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":120,"wires":[]},{"id":"7b7ef702.10b818","type":"e-mail","z":"5bd3e620.6f3d78","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":880,"y":320,"wires":[]},{"id":"1a32ff10.a19ef1","type":"mqtt-broker","name":"","broker":"demo.dataviss.com ","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]